.DS_Store
/node_modules
/storage/*.key
/vendor
composer.lock
.env
.env-app
.env-mysql
.env.backup
.env-proxy
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/images
/public/js/app.js
/public/mix-manifest.json
/public/*.ics
